# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
.env.local
client/.env
client/.env.local
server/.env
server/.env.local

# builds
dist/
client/dist/
server/dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/
.idea/

# uploads/temp
uploads/
tmp/